/* this is responsible for the behaviour of the black footer */
body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
    padding-bottom: 50px;
}

footer {
    padding: 15px;
    text-align: center;
    width: 100%;
    bottom: 0;
}

@media (max-width: 768px) {
    footer {
        position: relative;
    }
}
