{% extends "layout.html" %}

{% block title %}
    Cart
{% endblock %}

{% block main %}

{% if pizza_order %}
<div class="container">
    <h1>Pizzas:</h1>
    <div class="row">
        {% for pizza_item in pizza_order %}
            {% for pizza in pizza_item['pizza'] %}
            <div class="col-md-4 mb-4 d-flex align-items-center">
                <div class="card mx-auto" style="width: 18rem;">
                    <form method="post" action="/cart">
                        <input type="hidden" name="removal_pizza_id" value="{{ pizza['id'] }}">
                        <div class="card-body">
                            <h3 class="card-title">{{ pizza['name'] }}</h3>
                            <h5 class="card-title">{{ pizza['price'] | usd }}</h5>
                            <p class="card-text">
                            {% for extra in pizza_item['extra'] %}
                            <input type="hidden" name="removal_extra_id" value="{{ extra['id'] }}">
                            {{ extra['name'] }},
                            {% endfor %}</p> 
                            {% if pizza_item['price'] %}
                            <p>{{ pizza_item['price'] | usd }}</p>
                            {% endif %} 
                            <button class="btn btn-dark" type="submit">Remove</button>
                        </div>
                    </form>
                </div>
            </div>
            {% endfor %}  
        {% endfor %}
    </div>
</div>
{% endif %} 
{% if drink_order %}
<div class="container">
    <h1>Drinks:</h1>
    <div class="row">
    {% for drink_item in drink_order %}
        <div class="col-md-4 mb-4 d-flex align-items-center">
            <div class="card mx-auto" style="width: 18rem;">
                <form method="post" action="/cart">
                    <div class="card-body">
                        <input type="hidden" name="removal_drink_id" value="{{ drink_item[0].id }}">
                        <h3 class="card-title">{{ drink_item[0].name }}</h3>
                        <h5 class="card-title">{{ drink_item[0].price | usd }}</h5>
                        <p class="card-text">{{ drink_item[0].ingredients }}</p>
                        <button class="btn btn-dark" type="submit">Remove</button>
                    </div>
                </form>
            </div>
        </div> 
    {% endfor %}
    </div>
</div> 
{% endif %}

{% if not pizza_order and not drink_order %}
<h1> Empty cart</h1>
<div class="container">
    <div class="row">
        <div class="d-flex justify-content-center">
            <a href="/" class="btn btn-dark">Buy Pizza</a>
        </div>
    </div>
</div>

{% else %}
<div class="container">
    <div class="row">
        <div class="d-flex justify-content-center">
            <h2> TOTAL: </h2>
        </div>
    </div>
    <div class="row">
        <div class="d-flex justify-content-center">
            <h1> {{ totalprice | usd }}</h1>
        </div>
    </div>
    <div class="row">
        <div class="d-flex justify-content-center">
            <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#orderdetails">
                Order
            </button>
        </div>
    </div>
</div>
<form method="post" action="/order">
<div class="modal fade" id="orderdetails" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">Order Details</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">        
            <div class="row g-3">
                <div class="col-md-6">
                  <label for="FirstName" class="form-label">First name</label>
                  <input type="text" class="form-control" name="FirstName" id="FirstName" required>
                </div>
                <div class="col-md-6">
                  <label for="LastName" class="form-label">Last name</label>
                  <input type="text" class="form-control" name="LastName" id="LastName" required>
                </div>
                <div class="col-md-6">
                    <label for="street" class="form-label">Street and House nr.</label>
                    <input type="text" class="form-control" name="street" id="street" required>
                  </div>
                <div class="col-md-6">
                  <label for="city" class="form-label">City</label>
                  <input type="text" class="form-control" name="city" id="city" required>
                </div>
                
                <div class="col-md-3">
                  <label for="zip" class="form-label">Zip</label>
                  <input type="text" class="form-control" name="zip" id="zip" required>
                </div>
                <div class="col-12">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="termsandcond" name="termsandcond" id="termsandcond" required>
                    <label class="form-check-label" for="termsandcond">
                        By placing an order, I acknowledge and agree that payment will be required upon delivery.
                    </label>
                  </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-primary">Finalise Order</button>
        </div>
      </div>
    </div>
  </div>
  </form>
{% endif %}
{% endblock %}