{% extends "layout.html" %}

{% block title %}
    Cart
{% endblock %}

{% block main %}
Debug: {{ totalprice }}


{% if pizza_order %}
<div class="container">
    <h1>Pizzas:</h1>
    <div class="row">
        {% for pizza_item in pizza_order %}
            {% for pizza in pizza_item['pizza'] %}
            <div class="col-md-4 mb-4 d-flex align-items-center">
                <div class="card mx-auto" style="width: 18rem;">
                    <form method="post" action="/cart">
                        <input type="hidden" name="removal_pizza_id" value="{{ pizza['id'] }}">
                        Debug: {{ pizza['id'] }}
                        <div class="card-body">
                            <h3 class="card-title">{{ pizza['name'] }}</h3>
                            <h5 class="card-title">{{ pizza['price'] | usd }}</h5>
                            <p class="card-text">
                            {% for extra in pizza_item['extra'] %}
                            <input type="hidden" name="removal_extra_id" value="{{ extra['id'] }}">
                            {{ extra['name'] }},
                            {% endfor %}</p> 
                            {% if pizza_item['price'] %}
                            <p>{{ pizza_item['price'] | usd }}</p>
                            {% endif %} 
                            <button class="btn btn-dark" type="submit">Remove</button>
                        </div>
                    </form>
                </div>
            </div>
            {% endfor %}  
        {% endfor %}
    </div>
</div>
{% endif %} 
{% if drink_order %}
<div class="container">
    <h1>Drinks:</h1>
    <div class="row">
    {% for drink_item in drink_order %}
        <div class="col-md-4 mb-4 d-flex align-items-center">
            <div class="card mx-auto" style="width: 18rem;">
                <form method="post" action="/cart">
                    <div class="card-body">
                        <input type="hidden" name="removal_drink_id" value="{{ drink_item[0].id }}">
                        <h3 class="card-title">{{ drink_item[0].name }}</h3>
                        <h5 class="card-title">{{ drink_item[0].price | usd }}</h5>
                        <p class="card-text">{{ drink_item[0].ingredients }}</p>
                        <button class="btn btn-dark" type="submit">Remove</button>
                    </div>
                </form>
            </div>
        </div> 
    {% endfor %}
    </div>
</div> 
{% endif %}

{% if not pizza_order and not drink_order %}
<h1> Empty cart</h1>
<div class="container">
    <div class="row">
        <div class="d-flex justify-content-center">
            <a href="/" class="btn btn-dark">Buy Pizza</a>
        </div>
    </div>
</div>
{% else %}
<div class="container">
    <div class="row">
        <div class="d-flex justify-content-center">
            <h2> TOTAL: </h2>
        </div>
    </div>
    <div class="row">
        <div class="d-flex justify-content-center">
            <h1> {{ totalprice | usd }}</h1>
        </div>
    </div>
    <div class="row">
        <div class="d-flex justify-content-center">
            <button class="btn btn-dark" type="submit">Order</button>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}