{% extends "layout.html" %}

{% block title %}
    Drinks
{% endblock %}

{% block main %}
<div class="container">
  
  <div class="row">
    {% for drink in drink %}
    <div class="col-md-4 mb-4 d-flex align-items-center">
      <div class="card mx-auto" style="width: 18rem;">
          <img class="card-img-top" src="{{ drink.img }}" alt="{{ drink.name }}">
          <div class="card-body">
            <h3 class="card-title">{{ drink.name }}</h3>
            <h5 class="card-title">{{ drink.price | usd }}</h5>
            <form action="/cart" method="post">
              <input name="drinkid" type="hidden" value="{{ drink.id }}">
              <button class="btn btn-dark" type="submit">Add to cart</button>
            </form>
          </div>
      </div>
    </div>  
      {% endfor %}
  </div>

</div>
{% endblock %}