{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
<table action="/drinks" method="get" class="table table-striped">
    <thead>
        <tr>
            <th>name</th>
            <th>price</th>
            <th>img</th>
            
        </tr>
    </thead>
    <tbody>
        {% for drink in drink %}
            <tr>
                <td>{{ drink.name }}</td>
                <td>{{ drink.price }}</td>
                <td><img src="{{ drink.img }}" max width="300"></td>
            </tr>
        {% endfor %}
    </tbody>


</table>
{% endblock %}