{% extends "layout.html" %}

{% block title %}
    Welcome
{% endblock %}

{% block main %}
<div class="container">
  <div class="row">
    {% for pizza in pizzas %}
    <div class="col-md-4 mb-4">
      <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="{{ pizza.img }}" alt="Card image cap">
          <div class="card-body">
            <h3 class="card-title">{{ pizza.name }}</h3>
            <h5 class="card-title">{{ pizza.price | usd }}</h5>
            <p class="card-text">{{ pizza.ingredients }}</p>
            <a href="/{{pizza.route}}" class="btn btn-primary">Buy</a>
          </div>
      </div>
    </div>  
    {% endfor %}
  </div>
</div>
{% endblock %}
