<!DOCTYPE html>

<html lang="en" style="height:100%">

    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, width=device-width">

        <!-- http://getbootstrap.com/docs/5.1/ -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

        <link href="/static/styles.css" rel="stylesheet">
        
        <script>
             window.addEventListener( "pageshow", function ( event ) {
            var perfEntries = performance.getEntriesByType("navigation");
            if (perfEntries[0].type === "back_forward") {
            location.reload(true);
            }
            });
        </script>
        
        <title>PizzaTime: {% block title %}{% endblock %}</title>

    </head>

    <body style="height: 100%">

        <nav class="bg-light text-light border navbar navbar-expand-md navbar-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">
                    <img src="static/images/PizzaTime.png" alt="PizzaTime" width="50" height="50">
                </a>
                <button aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-bs-target="#navbar" data-bs-toggle="collapse" type="button">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbar">
                        <ul class="navbar-nav me-auto mt-2">
                            <li class="nav-item"><a class="nav-link" href="/">Pizzas</a></li>
                            <li class="nav-item"><a class="nav-link" href="/drinks">Drinks</a></li>
                            {% if session["user_id"] %}
                            <li class="nav-item"><a class="nav-link" href="/myorder">MyOrder</a></li>
                            {% endif %}
                        </ul>
                    {% if session["user_id"] %}
                        
                        <ul class="navbar-nav ms-auto mt-2">
                            {% if session["user_type"] == "admin" %}
                            <li class="nav-item"><a class="nav-link" href="/admin">Admin</a></li>
                            {% endif %}
                            <li class="nav-item"><a class="nav-link" href="/cart">Cart</a></li>
                            <li class="nav-item"><a class="nav-link" href="/logout">Log Out</a></li>
                        </ul>
                    {% else %}
                        <ul class="navbar-nav ms-auto mt-2">
                            <li class="nav-item"><a class="nav-link" href="/register">Register</a></li>
                            <li class="nav-item"><a class="nav-link" href="/login">Log In</a></li>
                        </ul>
                    {% endif %}
                </div>
            </div>
        </nav>

        {% if get_flashed_messages() %}
            <header>
                <div class="alert alert-primary mb-0 text-center" role="alert">
                    {{ get_flashed_messages() | join(" ") }}
                </div>
            </header>
        {% endif %}

        <main class="container py-5 text-center">
            {% block main %}{% endblock %}       
        </main>

        <footer class="bg-dark text-light">
            <div class="mb-5 small text-center">
                CS50 Final Project 2024
            </div>
            <div>
                <div class="row">
                    <div class="col-md-4 align-items-center text-center">
                        <h4>Contact PizzaTime</h4>
                        <p>For Inquiries and Orders:</p>
                        <p>Phone: +1 555-1234-5678</p>
                        <p>Email: info@CS50PizzaTime.com</p>
                        <p>Visit Our Location:</p>
                        <p>Address: 50 Pizza Street, Pizzaville, PT 5050</p>
                    </div>
                    <div class="col-md-4 d-flex align-items-center justify-content-center">
                        <img src="static/images/PizzaTime.png" alt="PizzaTime"style="width: 15rem; height: auto;">
                    </div>

                    <div class="col-md-4 align-items-center text-center">
                        <h4>PizzaTime Opening Hours</h4>
                        <p><strong>Monday:</strong> 11:00 AM - 10:00 PM</p>
                        <p><strong>Tuesday:</strong> 11:00 AM - 10:00 PM</p>
                        <p><strong>Wednesday:</strong> 11:00 AM - 10:00 PM</p>
                        <p><strong>Thursday:</strong> 11:00 AM - 10:00 PM</p>
                        <p><strong>Friday:</strong> 11:00 AM - 10:00 PM</p>
                        <p><strong>Saturday:</strong> 11:00 AM - 10:00 PM</p>
                        <p><strong>Sunday:</strong> 11:00 AM - 10:00 PM</p>
                    </div>
                </div>
            </div>
        </footer>
        
    </body>
    

</html>
