{% extends "layout.html" %}

{% block title %}
    MyOrder
{% endblock %}

{% block main %}
<div class="container">
  <div class="row">
    {% for card in order %}
    {%if card['status'] == "Order received" %}
    <div class="col-md-4">
      <div class="card text-bg-light mb-3" style="max-width: 18rem;">
        <div class="card-header">
          <h5>Order Number {{ card['order_id']}}</h5>
          <h6><span id="status{{ card['order_id'] }}">{{ card['status'] }}</span></h6>
        </div>
        <div class="card-body">
          {% if card['pizza_name'] %}
          <h5 class="card-title">Pizza:</h5>
          <p class="card-text">{{ card['pizza_name']}}</p>
          {% endif %}
          {% if card['drinks'] %}
          <h5 class="card-title">Drink:</h5>
          <p class="card-text">{{ card['drinks']}}</p>
          {% endif %}
          <h5 class="card-title">Price:</h5>
          <p class="card-text">{{ card['price'] | usd}}</p>
          <h5 class="card-title">Delivery Address:</h5>
          <p class="card-text">{{ card['street']}}, {{ card['city']}}, {{ card['zip']}}</p>
          <button class="btn btn-danger" type="button" data-bs-toggle="modal" data-bs-target="#cancelorder{{ card['order_id'] }}">Cancel Order</button>
        </div>
      </div>  
    </div>
    <div class="modal" id="cancelorder{{ card['order_id'] }}" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Cancel Order</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <p>Are you sure you want to cancel the order?</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Close</button>
            <form action="/cancelorder" method="post">
            <input type="hidden" name="orderid" value="{{ card['order_id'] }}">
            <button type="submit" class="btn btn-danger">Cancel Order</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    {%endif%}
    {% endfor %}
  </div>
</div>

<div class="container">
  <div class="row">
    {% for card in order %}
    {%if card['status'] == "In progress" %}
    <div class="col-md-4">
      <div class="card text-bg-warning mb-3" style="max-width: 18rem;">
        <div class="card-header">
          <h5>Order Number {{ card['order_id']}}</h5>
          <h6><span id="status{{ card['order_id'] }}">{{ card['status'] }}</span></h6>
        </div>
        <div class="card-body">
          {% if card['pizza_name'] %}
          <h5 class="card-title">Pizza:</h5>
          <p class="card-text">{{ card['pizza_name']}}</p>
          {% endif %}
          {% if card['drinks'] %}
          <h5 class="card-title">Drink:</h5>
          <p class="card-text">{{ card['drinks']}}</p>
          {% endif %}
          <h5 class="card-title">Price:</h5>
          <p class="card-text">{{ card['price'] | usd}}</p>
          <h5 class="card-title">Delivery Address:</h5>
          <p class="card-text">{{ card['street']}}, {{ card['city']}}, {{ card['zip']}}</p>
        </div>
      </div>    
    </div>
    {%endif%}
    {% endfor %}
  </div>
</div>
<div class="container">
  <div class="row">
    {% for card in order %}
    {%if card['status'] == "Delivered" %}
    <div class="col-md-4">
      <div class="card text-bg-success mb-3" style="max-width: 18rem;">
        <div class="card-header">
          <h5>Order Number {{ card['order_id']}}</h5>
          <h6><span id="status{{ card['order_id'] }}">{{ card['status'] }}</span></h6>
        </div>
        <div class="card-body">
          {% if card['pizza_name'] %}
          <h5 class="card-title">Pizza:</h5>
          <p class="card-text">{{ card['pizza_name']}}</p>
          {% endif %}
          {% if card['drinks'] %}
          <h5 class="card-title">Drink:</h5>
          <p class="card-text">{{ card['drinks']}}</p>
          {% endif %}
          <h5 class="card-title">Price:</h5>
          <p class="card-text">{{ card['price'] | usd}}</p>
          <h5 class="card-title">Delivery Address:</h5>
          <p class="card-text">{{ card['street']}}, {{ card['city']}}, {{ card['zip']}}</p>
        </div>
      </div>    
    </div>
    {%endif%}
    {% endfor %}
  </div>
</div>
<div class="container">
  <div class="row">
    {% for card in order %}
    {%if card['status'] == "Cancelled" %}
    <div class="col-md-4">
      <div class="card text-bg-danger mb-3" style="max-width: 18rem;">
        <div class="card-header">
          <h5>Order Number {{ card['order_id']}}</h5>
          <h6><span id="status{{ card['order_id'] }}">{{ card['status'] }}</span></h6>
        </div>
        <div class="card-body">
          {% if card['pizza_name'] %}
          <h5 class="card-title">Pizza:</h5>
          <p class="card-text">{{ card['pizza_name']}}</p>
          {% endif %}
          {% if card['drinks'] %}
          <h5 class="card-title">Drink:</h5>
          <p class="card-text">{{ card['drinks']}}</p>
          {% endif %}
          <h5 class="card-title">Price:</h5>
          <p class="card-text">{{ card['price'] | usd}}</p>
          <h5 class="card-title">Delivery Address:</h5>
          <p class="card-text">{{ card['street']}}, {{ card['city']}}, {{ card['zip']}}</p>
        </div>
      </div>    
    </div>
    {%endif%}
    {% endfor %}
  </div>
</div>
<script src="/static/javascript.js"></script>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        setInterval(fetch_status, 5000); // Update every 5 seconds (adjust the interval as needed)
    });
</script>
{% endblock %}