{% extends "layout.html" %}

{% block title %}
    MyOrder
{% endblock %}

{% block main %}
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="card" style="width: 18rem;">
        <img src="static/images/bacon.jpg" class="card-img-top" alt="asd">
        <div class="card-body">
          <p class="card-text">Ingredients:</p>
          <p class="card-text">asd  asd asd asd asd asd asd </p>
        </div>
      </div>
    </div>
      <div class="col-md-4">  
        <div class="card" style="width: 18rem;">
          <img src="static/images/bacon.jpg" class="card-img-top" alt="kjhkhj">
          <div class="card-body">
            <p class="card-text">Ingredients:</p>
            <p class="card-text">asd  asd asd asd asd asd asd</p>
          </div>
        </div>
      </div>
  </div>
</div>
{% endblock %}